:root {
    --main-bg-color: #86d1c7;

    /*
    --correction-bg-color: #ccc;
    --correction-padding: 10%;
    */
}

@font-face {
    font-family: PlayWriteIN;
    src: url("assets/PlayWriteIN.ttf");
}

body {
    font-family: PlayWriteIN;
    background-color: var(--main-bg-color);
}